{% extends "base.html" %}

{% block title %}Admin Login - Twenty-Something Year Old Journalist{% endblock %}

{% block content %}
<div class="admin-login-container">
    <div class="login-box">
        <h1>Admin Login</h1>
        <form method="POST" action="{{ url_for('admin_login') }}">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required autofocus>
            </div>
            <button type="submit" class="btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}

